/* Homepage */
.home {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #ADC9CD;
}

input[type="text"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 20px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.search {
  background:#01d28e;
}

.search-input-container {
  background-color: white;
  padding: 2rem;
}

.search-submit-button-container {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 20px;
}